<mat-sidenav-container class="example-container" fullscreen>
  <mat-sidenav #sidenav class="sidenav">
    <div class="options__container">
      <div class="sidenav__buttons">
        <button mat-button mat-raised-button color="warn" (click)="sidenav.toggle()">Close</button>
        <button mat-button mat-raised-button color="accent" (click)="resetFilters()">Reset Filters</button>
      </div>
    <h4>Events on page</h4>  
    <div class="event__number__div">
      <mat-select placeholder="Category..." [(value)]="userService.itemsOnPage" class="event__number">
        <mat-option *ngFor="let option of userService.itemsPerPageOptions" [value]="option">{{ option }}</mat-option>
      </mat-select>
    </div>
    <mat-radio-group [(ngModel)]="userService.eventType" class="feeType__options">
      <mat-radio-button value='All'>All</mat-radio-button>
      <mat-radio-button value="Online">Online</mat-radio-button>
      <mat-radio-button value="On Site">On site</mat-radio-button>
    </mat-radio-group>
    <div class="checkbox__options">
      <mat-checkbox [(ngModel)]="userService.freeCheckbox">Free</mat-checkbox>
      <mat-checkbox [(ngModel)]="userService.paidCheckbox">Paid</mat-checkbox>
    </div>
    <div *ngIf="userService.paidCheckbox">
      <div class="form__options">
        <mat-form-field class="form__field__input" appearance="outline">
          <mat-label>Minimum price</mat-label>
          <input type="number" pattern="(\b[1-9][0-9]{0,9})" matInput placeholder="Minimum price..." [(ngModel)]="userService.priceMin" autocomplete="off">
          <mat-icon matSuffix>euro_symbol</mat-icon>
        </mat-form-field>
        <mat-form-field class="form__field__input" appearance="outline">
          <mat-label>Maximum price</mat-label>
          <input type="number" pattern="(\b[1-9][0-9]{0,9})" matInput placeholder="Maximum price..." [(ngModel)]="userService.priceMax" autocomplete="off">
          <mat-icon matSuffix>euro_symbol</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div class="form__options">
      <mat-form-field appearance="outline">
        <mat-label>Available seats</mat-label>
        <input type="number" pattern="(\b[1-9][0-9]{0,4})"  placeholder="Available seats..." matInput [(ngModel)]="userService.availableSeats" autocomplete="off">
      </mat-form-field>
    </div>
    <div class="form__options">
      <!-- <mat-form-field>
        <input type="number" matInput placeholder="Event from..." [(ngModel)]="userService.yearBuiltMin" autocomplete="off">
      </mat-form-field>
      <mat-form-field>
        <input type="number" matInput placeholder="Event until..." [(ngModel)]="userService.yearBuiltMax" autocomplete="off">
      </mat-form-field> -->
      <mat-form-field>
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [formGroup]="userService.range" [rangePicker]="picker">
          <input matStartDate formControlName="start" placeholder="Start date">
          <input matEndDate formControlName="end" placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker touchUi #picker></mat-date-range-picker>
        <mat-error *ngIf="userService.range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
        <mat-error *ngIf="userService.range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
      </mat-form-field>
    </div>
    <mat-form-field class="event__category">
      <mat-select placeholder="Category..." [(value)]="userService.category">
        <mat-option value="Workshop">Workshop</mat-option>
        <mat-option value="Soft Skills">Soft Skills</mat-option>
        <mat-option value="Technical">Technical</mat-option>
        <mat-option value="Social">Social</mat-option>
        <mat-option value="Marketing">Marketing</mat-option>
        <mat-option value="Recruiting">Recruiting</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="location__search__field">
      <form [formGroup]="userService.searchLocation">
        <div class="form-group search__location">
          <input placeholder="Location..." autocorrect="on" autocapitalize="on" spellcheck="on" type="text" class="form-control" #search formControlName="searchControl">
        </div>
      </form>
    </div>
    </div>
  </mat-sidenav>
<mat-sidenav-content>
  <app-header></app-header>
  <router-outlet></router-outlet>
</mat-sidenav-content>
</mat-sidenav-container>
  
  