<ng4-loading-spinner></ng4-loading-spinner>
<ng-snotify></ng-snotify>
<h1 class="events__title">Events </h1>
<div class="body__container">
  <div class="search__filter__container">
    <form>
      <mat-form-field class="search__field">
        <input type="text" name="search" matInput placeholder="Search events..." [(ngModel)]="userService.term" autocomplete="off">
        <mat-icon matSuffix class="search__icon">search</mat-icon>
      </mat-form-field>
    </form>
    <div class="button__responsive">
      <button mat-raised-button mat-button (click)="userService.sidenav.toggle()" class="filter__button">Filter events 
        <mat-icon matSuffix>filter_alt</mat-icon>
      </button>
    </div>
  </div>
  <hr class="options">
    <div class="custom__container">
      <div *ngFor="let event of userService.events | filter : userService.term : 'title' :
       userService.freeCheckbox : userService.paidCheckbox : 'feeType' :
       userService.eventType : 'eventType' : 
       userService.priceMin : userService.priceMax : 'price' :
       userService.availableSeats : 'availableSeats' :
       userService.category : 'category' :
       userService.range : 'eventDate' : userService.range.value.start : userService.range.value.end :
       userService.searchLat : userService.searchLng
       | paginate: {itemsPerPage: userService.itemsOnPage, currentPage: userService.page}; let i = index">
        <mat-card class="card__class">
          <mat-card-header>
            <mat-card-title>{{ event.title}}</mat-card-title>
            <mat-card-subtitle>{{ event.eventType }} - {{event.feeType}}</mat-card-subtitle>
            <img src="../../assets/casa.jpg" *ngIf="event.feeType == 'Free'" mat-card-avatar>
            <img src="../../assets/bloc.jpg" *ngIf="event.feeType == 'Paid'" mat-card-avatar>
          </mat-card-header>
          <mat-card-content>
            <p *ngIf="event.price != 0">Price: {{ event.price }} <span class="fa fa-euro"></span></p>
            <p *ngIf="event.price == 0">Price: Free event</p>
            <p>Date: {{event.eventDate}}</p>
          </mat-card-content>
          <img mat-card-image height="270px"  [src]="event.image">
          <div class="location__paragraph">Location: {{event.location}}</div>
          <mat-card-actions class="viewAddButton">
            <button mat-raised-button mat-button color="primary" (click)="viewEventDetails(event)">Event details</button>
            <button *ngIf="userService.currentUser.type === 'ADMIN'"
                    mat-raised-button mat-button color="warn" (click)="deleteEvent(event)">Delete event!</button>
          </mat-card-actions>
        </mat-card><br>
      </div>
    </div>
    <div class="myPaginationContainer">
      <pagination-controls class="myPagination" (pageChange)="userService.page = $event"
                           previousLabel="Înapoi"
                           nextLabel="Înainte" maxSize="5">
      </pagination-controls>
    </div>
</div>
